body {
    background: #333;
  }
  
  .navigation-bar {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold; 
  }
  
  .title-desc {
    font-size: 18px;
  }